<mat-card>
  <form  [formGroup]="form" (submit)="onSavePost()">
    <mat-form-field>
      <input
        type="text"
        matInput
        placeholder="Enter Title"
        [formControlName] = "'title'"
      />
      <mat-error *ngIf="form.get('title').invalid">{{"please provide a valid title"}}</mat-error>
    </mat-form-field>
    <button mat-stroked-button type="button" (click)="imagePicker.click()">Pick a image</button>
    <input type="file" #imagePicker (change)="onImagePicked($event)">
    <div class="imagPrev" *ngIf="imagePrev !== '' && imagePrev">
      <img [src]="imagePrev" alt="">
    </div>
    <mat-form-field>
      <textarea
        matInput
        rows="8"
        placeholder="Enter content"
        [formControlName] = "'content'"
      ></textarea>
      <mat-error *ngIf="form.get('content').invalid">{{"please provide a valid content"}}</mat-error>
    </mat-form-field>
    <br />

    <button mat-raised-button color="accent" type="submit" >
      save post
    </button>
  </form>
</mat-card>
